@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* colors */
    --bkd: 235 18% 26%;
    --muted: 230 6% 69%;
    --text: 230 29% 19%;
    --bkg: 230 29% 99%;
    --accent: 4 100% 68%;
    --error: 4 58% 78%;
}

#mobile {
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.hide {
    display: none;
  }

img,
svg {
    display: block;
    max-width: 100%;
}

button,
input,
label {
    font: inherit;
}

label {
    font-weight: 700;
}

.error-message {
    color: hsl(4, 100%, 67%);
  }

  input::placeholder {
    color: hsl(var(--muted));
  }

  
@media only screen and (max-width: 500px) {
    #desktop {
        display: none;
    }
}

@media only screen and (min-width: 501px) {
    #mobile {
        display: none;
    }

}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
